@media screen and (max-width: 750px) {
  #about {
    margin: 0 !important;
    padding: 0 !important;
  }
  #about .lead-medium {
    font-size: 25px;
  }

  #customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 10rem !important;
  }
  #customer p {
    font-size: 25px !important;
  }
  #customer div {
    width: 250px !important;
    height: 30px !important;
  }

  #customer div a {
    font-size: 18px !important;
  }
  #get-in-touch {
    width: 100vw !important;
  }
  #address {
    background: var(--primary_red);
  }
  #get-in-touch div {
    flex-direction: column !important;
  }
  #get-in-touch div div:nth-child(1) {
    width: 100% !important;
  }
  #get-in-touch div div:nth-child(2) {
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  form {
    max-width: 80% !important;
  }

  input[type="text"],
  [type="email"] {
    max-width: 100% !important;
    max-height: 40px !important;
    margin: 5px !important;
    padding: 5px !important;
  }

  textarea {
    margin: 5px !important;
    padding: 5px !important;
    max-width: 100% !important;
    max-height: 60% !important;
  }

  #submit_button {
    width: 100px !important;
    height: 40px !important;
  }
  input::placeholder {
    margin: 5px;
  }

  #submit_button i p {
    font-size: 20px !important;
    margin: 0px !important;
  }

  #mobile-package {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100vw;
    height: 80vh;
    background: var(--primary_yellow);
  }
  #mobile-package p {
    color: white;
    font-size: 22px;
  }
  #mobile-package div {
    width: 320px;
    height: 150px;
    margin: 5px;
    background-color: var(--primary_gray);
  }
  #mobile-package div:nth-child(2) {
    box-shadow: 5px 5px grey;
  }
  #mobile-package div:nth-child(3) {
    box-shadow: 5px 5px grey;
  }
  #mobile-package div:nth-child(4) {
    box-shadow: 5px 5px grey;
  }

  #mobile-package div div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 125px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 10px;
  }
  #mobile-package div div a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
