@media screen and (max-width: 1000px) {
    .package {
      width: 180px;
      height: 120px;
    }
  
    .package div {
      margin-top: 10px;
      width: 160px;
      height: 100px;
    }
    .slider__container .Slides img {
      display: block;
      object-fit: cover;
      max-width: 90%;
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 750px) {
    #slider {
      display: none;
    }
    .prev,
    .next {
      display: none;
    }
  }
  